[Unit]
Description=Publish blog.bricewge.fr on IPFS
Requires=ipfs.service
After=ipfs.service

[Service]
Type=oneshot
User=ipfs
ExecStart=/bin/bash -c "/usr/local/bin/ipfs add -qr /srv/nginx/blog.bricewge.fr | /usr/bin/tail -n1 | /usr/local/bin/ipfs name publish"

[Install]
WantedBy=multi-user.target