[Unit]
Description=CouchPotato application instance
After=network.target

[Service]
ExecStart=/opt/couchpotato/CouchPotato.py
Type=simple
User=couchpotato
Group=couchpotato

[Install]
WantedBy=multi-user.target
